<h1>Ver Lista de Recetas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Preparacion</th>
      <th>Ingredientes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receta.each do |recetum| %>
      <tr>
        <td><%= recetum.nombre %></td>
        <td><%= recetum.preparacion %></td>
        <td><%= recetum.ingredientes %></td>
        <td><%= link_to 'Mostrar', recetum %></td>
        <td><%= link_to 'Editar', edit_recetum_path(recetum) %></td>
        <td><%= link_to 'Eliminar', recetum, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Receta', new_recetum_path %>
